.cursor {
  width: auto;
  border-right: 2px solid rgba(0, 0, 0, .75);
  font-size: 30px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.typewriter-animation {
  animation:
    typewriter 2s steps(21) 1s 1 normal both,
    blinkingCursor 700ms steps(2) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 27%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(0, 0, 0, .75);
  }

  to {
    border-right-color: transparent;
  }
}
